**/saved_data/
**/collected_data/
**/gan_videos/
**/saved_models/
**/example_videos/
**/data/
**/generated_data/
**/trained_gans/
**/trained_rl_networks/
**/.idea/
*.pyo
*.pyc
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
/dist/
/*.egg-info
/build/
__pycache__/
